﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" />  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jQuery.tmpl")
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/provider")
    @Scripts.Render("~/bundles/calendar")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
    
</body>

</html>