﻿.dates-container {
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    margin-left: 100px
}

.day-of-week {
    height: 50px;
    width: 50px;
    background-color: #7cc8f3;
    border: solid;
    cursor:pointer;
}