﻿<!---TEMPLATES-->
<script id="day-of-week-tmpl" type="text/x-jquery-tmpl">
    <td class="day-of-week" data-event="" data-week-day="${dateNumber}"><div>${dateNumber}</div></td>
</script>
    <div id="modals">
        <div id="add-event-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавление события</h4>
                        <div id="event-add-alert" class="alert alert-danger" role="alert"></div>
                    </div>
                    <div class="modal-body">
                        <div id="event-date"></div>
                        <div><input type="text" id="event-members" placeholder="Участники события"></input></div>
                        <textarea id="event-content" placeholder="Описание события"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button id="add-event" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-event-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Редактирование событие</h4>
                    </div>
                    <div class="modal-body">
                        <div id="event-date"></div>
                        <div id="event-members"></div>
                        <textarea id="event-content" placeholder="Описание события"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="delete-event" class="btn btn-primary">Удалить</button>
                        <button id="update-event" class="btn btn-primary">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="show-event-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Событие</h4>
                    </div>
                    <div class="modal-body">
                        <div id="event-date"></div>
                        <div id="event-members"></div>
                        <div id="event-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav nav-pills pull-left">
                    <button id="show-modal" type="button" class="btn btn-info" >Добавить</button>
                    <button id="refresh" type="button" class="btn btn-info">Обновить</button>
                    <div id="mounths">
                        <button id="mounth-back"><</button>
                        <span id="current-date"></span>
                        <button id="mounth-forward">></button>
                    </div>
                </ul>
                <ul class="nav nav-pills pull-left">
                    <select type="text" class="search-select-2" id="search" style="width:300px"></select>
                </ul>
            </div>
        </div>
    </div>


<table id="dates-of-week-table"class="dates-container" cellpadding="0" cellspacing="0">
    <tr><th>Понедельник</th><th>Вторник</th><th>Среда</th><th>Четверг</th><th>Пятница</th><th>Суббота</th><th>Воскресенье</th></tr>
    <tr id="week-line-1"></tr>
    <tr id="week-line-2"></tr>
    <tr id="week-line-3"></tr>
    <tr id="week-line-4"></tr>
    <tr id="week-line-5"></tr>
</table>
